{% extends 'dashboard.html' %}

{% block title %}
  تعریف هزینه
{% endblock %}
{% block content %}
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-md-4">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">تعریف هزینه</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" method="POST">
            <div class="box-body">
              <div class="form-group">
                <label for="costExtendName" name="costExtendName">هزینه</label>
                <input type="text" class="form-control" id="costExtendName" name="costExtendName" placeholder="نام هزینه" />
              </div>
              <div class="form-group">
                <label>مرکز هزینه</label>
                <select class="form-control" name="costExtendCostCenterID" style="padding: 1px;height: 35px;">
                  {% for cc in costCenterList %}
                    <option value="{{cc.id}}">{{cc.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>دسته بندی</label>
                <select class="form-control" name="costExtendCostCategoryID" style="padding: 1px;height: 35px;">
                  {% for cg in costCatergoryList %}
                    <option value="{{cg.id}}">{{cg.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="costExtendDescription" name="costExtendDescription" >توضیحات</label>
                <input type="text" class="form-control" id="costExtendDescription" name="costExtendDescription" placeholder="توضیحات" />
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" name="insertCostExtend" class="btn btn-primary">ایجاد</button>

              {% with messages=get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                    {% if msg == 'insertCostExtendSuccess' %}
                      <p style="color:green;display: inline;margin-right: 20px;">ایجاد شد</p>
                    {% elif msg == 'insertCostExtendError' %}
                      <p style="color:red;display: inline;margin-right: 20px;">مشکلی وجود دارد</p>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endwith %}

            </div>
          </form>
        </div>
      </div>
      <!-- ./col -->

      <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">لیست  هزینه</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>شناسه</th>
                <th>هزینه</th>
                <th>مرکز</th>
                <th>دسته بندی</th>
                <th>توضیحات</th>
                <th>حذف</th>
              </tr>
            </thead>
            <tbody>
              {% for ce in costExtendList %}
              <tr>
                <td style="width: 2%">{{ce.id}}</td>
                <td style="width: 15%">{{ce.name}}</td>
                <td style="width: 15%">{{ce.cost_center.name}}</td>
                <td style="width: 15%">{{ce.cost_category.name}}</td>
                <td style="width: 25%">{{ce.description}}</td>
                <td style="width: 5%">
                  <form method="POST" action="" onsubmit="return confirm('آیا مطمئنی که می‌خوای حذفش کنی؟');">
                    <input type="hidden" value="{{ ce.id }}" name="ce_id" />
                    <button type="submit" class="btn btn-danger btn-sm" name="deleteCostExtend" style="background-color: #ffffff;">🗑️</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>شناسه</th>
                <th>هزینه</th>
                <th>مرکز</th>
                <th>دسته بندی</th>
                <th>توضیحات</th>
                <th>حذف</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- ./col -->

      <!-- ./col -->

      <!-- ./col -->

      <!-- ./col -->
    </div>

    <div class="row">
      <!-- right col -->
      <section class="col-lg-7 connectedSortable">
        <!-- TO DO List -->

        <!-- /.box -->
      </section>
      <!-- /.right col -->
      <!-- left col (We are only adding the ID to make the widgets sortable) -->
      <section class="col-lg-5 connectedSortable"></section>
      <!-- left col -->
    </div>
    <!-- /.row (main row) -->
  </section>
{% endblock %}
