{% extends "dashboard.html" %}

{% block title %}گزارشات{% endblock %}
{% block content %}
            <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-12 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h1>گزارشات</h1>
              </div>
            </div>
            <!-- ./col -->
           
            <!-- ./col -->
            
            <!-- ./col -->
            
            <!-- ./col -->
          </div>

          <div class="row">
            <!-- right col -->
            <section class="col-lg-7 connectedSortable">
              <!-- TO DO List -->
              
              <!-- /.box -->
            </section>
            <!-- /.right col -->
            <!-- left col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable"></section>
            <!-- left col -->
          </div>
          <!-- /.row (main row) -->
        </section>
{% endblock %}